:root {
    --spieler1-farbe: rgb(53, 158, 0);
    --spieler2-farbe: purple;   
}

* {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 10vh, 4rem);
}

.spielanzeige,
.overlay-text {
    font-size: clamp(2rem, 5vh, 4rem);
    font-weight: 450;
    text-align: center;
}

.spielfeld {
    background-color:transparent;
    width: 800px;
    aspect-ratio: 1/1;
    max-width: 90%;
    max-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.feld {
    background-color: transparent;
    border: 0.15rem solid rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5%;
    aspect-ratio: 1/1;
}

.feld:nth-child(-n+9){
    border-top: none;
}

.feld:nth-child(9n+9){
    border-right: none;
}

.feld:nth-child(n+72){
    border-bottom: none;
}

.feld:nth-child(9n+1) {
    border-left: none;
}

.feld:nth-child(3){
    border-right:0.25rem solid rgb(255, 0, 0);
}

.feld:nth-child(12){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(21){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(30){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(39){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(48){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(57){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(66){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(75){
    border-right:0.25rem solid rgb(255, 0, 0);
}


.feld:nth-child(6){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(15){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(24){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(33){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(42){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(51){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(60){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(69){
    border-right:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(78){
    border-right:0.25rem solid rgb(255, 0, 0);
}

.feld:nth-child(19){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(20){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(21){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(22){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(23){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(24){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(25){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(26){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(27){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}

.feld:nth-child(46){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(47){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(48){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(49){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(50){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(51){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(52){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(53){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}
.feld:nth-child(54){
    border-bottom:0.25rem solid rgb(255, 0, 0);
}

.feld::before,
.feld::after {
    content: "";
    box-sizing: border-box;
}

.feld.spieler1::before,
.spielanzeige.spieler1 ~ .spielfeld .feld:not([disabled]):hover::before {
    border: 0.5rem solid var(--spieler1-farbe);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.feld.spieler2::before,
.spielanzeige.spieler2 ~ .spielfeld .feld:not([disabled]):hover::before,
.feld.spieler2::after,
.spielanzeige.spieler2 ~ .spielfeld .feld:not([disabled]):hover::after  {
    background-color: var(--spieler2-farbe);
    width: 0.5rem;
    height: 100%;   
}

.feld.spieler2::before,
.spielanzeige.spieler2 ~ .spielfeld .feld:not([disabled]):hover::before {
    transform: translateX(50%) rotate(45deg);
    
}

.feld.spieler2::after,
.spielanzeige.spieler2 ~ .spielfeld .feld:not([disabled]):hover::after {
    transform: translateX(-50%) rotate(-45deg);
}

.spielanzeige.spieler1 {
    color: var(--spieler1-farbe);
}

.spielanzeige.spieler2 {
    color: var(--spieler2-farbe);
}

.feld:not([disabled]) {
    cursor: pointer;
}

.spielanzeige.spieler1 ~ .spielfeld .feld:not([disabled]):hover::before {
    opacity: 0.5;
}

.spielanzeige.spieler2 ~ .spielfeld .feld:not([disabled]):hover::before {
    opacity: 0.5;
}
.spielanzeige.spieler2 ~ .spielfeld .feld:not([disabled]):hover::after {
    opacity: 0.5;
}

.overlay {
    background-color: rgb(49, 49, 255);
    inset: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 2vh, 4rem);
}

.overlay-button {
    font-size: 2rem;
    font-weight: 600;
    background-color:red;
    border: none; 
}